@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.banner {
    width: 100%;
    height: 807px;
    background: #252B42;
    padding: 100px 196px;
}

.banner_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 177px;
}

.banner_content {
    width: 455px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.banner_title {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
}

.banner_text {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 500;
}

.banner_image {
    width: 415px;
    height: 170px;
}

.bottom {
    width: 100%;
    height: 1000px;
    background: #c79a9a;
    position: relative;
    ;
    display: flex;
    justify-content: center;
}

.form {
    width: 885px;
    height: 610px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -50%;
}

.form_image {
    width: 287px;
    height: 610px;
}

.form_content {
    width: 510px;
    height: 530px;
    background: #FFFFFF;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.form_title {
    font-size: 24px;
    color: #252B42;
    font-weight: 700;
    margin-bottom: 40px;
}

.form_input_header {
    font-size: 14px;
    font-weight: 600;
    color: #252B42;
    margin-bottom: 10px;
}

.form_input_text {
    width: 100%;
    padding: 11px 21px;
    border: none;
    border: 1px solid #737373;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    margin-bottom: 10px;
    background: #F9F9F9;
}

.form_input_text:focus {
    outline: none;
}

.form_button {
    width: 100%;
    padding: 15px 40px;
    background: #23A6F0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 55px;
    transition-duration: 0.3s;

}

.form_button:hover {
    transform: scale(1.1);
    background: #179dea;
    transition-duration: 0.5s;
}